body{
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#cabecalho{
    position: relative;
    width: 1900px;
    height: 140px;
    background-color: #A83D3D;
    text-align: center;
    margin-right: -10px;
    margin-top: -10px;
    border: 0px;
    margin-left: -20px;
}
#logo{
    width: 220px;
    height: 220px;
    margin-right: 330px;
    margin-top: -25px;
}
#caixa{
        width: 600px;
        height: 150px;
        background-color: #A83D3D;
        padding:160px;
        margin: 250px;
        text-align: center;
        margin-left: 300px;
        margin-top: 60px;   
}
#caixacinza{
        width: 600px;
        height: 70px;
        background-color: #808080;
        padding:160px;
        margin: 250px;
        text-align: center;
        margin-left: -160px;
        margin-top: -80px;   
}
#letra1{
    margin-left: 10px;
    margin-top: -275px;
    color: white;
    font-size: 50px;
}
#nome{
    display: flex;
    margin-left: -100px;
    margin-top: -590px;
    position: absolute;
}
.nome1{
    width: 350px;
    height: 40px;
}
#cpf{
    display: flex;
    margin-left: -100px;
    margin-top: -520px;
    position: absolute;
}
.cpf1{
    width: 350px;
    height: 40px;
}
#telefone{
    display: flex;
    margin-left: -100px;
    margin-top: -450px;
    position: absolute;
}
.telefone1{
    width: 350px;
    height: 40px;
}
#endereço{
    display: flex;
    margin-left: -100px;
    margin-top: -380px;
    position: absolute;
}
.endereço1{
    width: 350px;
    height: 40px;
}
#email{
    display: flex;
    margin-left: 340px;
    margin-top: -590px;
    position: absolute;
}
.email1{
    width: 350px;
    height: 40px;
}
#senha{
    display: flex;
    margin-left: 340px;
    margin-top: -520px;
    position: absolute;
}
.senha1{
    width: 350px;
    height: 40px;
}
#confirmacao{
    display: flex;
    margin-left: 340px;
    margin-top: -450px;
    position: absolute;
}
.confirmacao1{
    width: 350px;
    height: 40px;
}
#sexo{
    display: flex;
    position: relative;
    width: 60px;
    height: 45px;
    margin-left: 340px;
    margin-top: -380px;
}
#data{
    display: flex;
    margin-left: 443px;
    margin-top: -45px;
    position: absolute;
}
.data1{
    width: 250px;
    height: 40px;
}
#concluido{
    display: flex;
    margin-left: 220px;
    margin-top: 25px;
    position: absolute;
    width: 150px;
    height: 40px;
    background-color: #A83D3D;
    border: none;
    border-radius: 5px;
}
.concluido1{
    font-size: 20px;
    margin-left: 24px;
    margin-top: 7px;
    color: white;
}